
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner related style */
.banner{
  margin: 0 auto;
  max-width: 1440px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 240px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-discriptioon{
    color: rgb(13, 19, 33);
    opacity: 0.7;  
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-btn{
    margin-top: 15px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px 24px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* my web related style */
.my-web , .inspearation {
    padding: 0 48px 48px 48px ;
    max-width: 1140px;
    margin: 70px auto;
}
.my-web-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.my-web-discription{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
 }
.web-contantainer-1{
    margin-top: 95px;
    display: flex;
    gap: 250px;

}
.web-title{
    
    width: 390px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.web-discription{
    width: 478px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    }
.web-btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px;
    background: none;
}
.web-contantainer-2{
    margin-top: 95px;
    display: flex;
    gap: 32px;
}
.web-contant-2{ 
    padding: 25px;
}
/* inspiaration */
.video{
    margin-top: 50px;
    border: 1 px solid red;
}
/* curret related style */
.current{
    max-width: 1140px;
    margin: 70px auto;

}
.card{
    display: flex;
    justify-content: center;
    gap: 50px; 
    
}
.card-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.card-2{
    border-radius: 16px;
    padding: 40px;
    background: rgba(0, 76, 232, 0.05);
}
.card-3{
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 223, 0, 0.05);
}
.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.list{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}