
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner related style */
.banner{
  margin: 0 auto;
  max-width: 1440px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 240px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-discriptioon{
    color: rgb(13, 19, 33);
    opacity: 0.7;  
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-btn{
    margin-top: 15px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px 24px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}